@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Monoton&family=Open+Sans:wght@400;700&family=Playfair+Display+SC:wght@400;700&family=Playfair+Display:wght@400;700&family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&family=Work+Sans:wght@400;700&display=swap");

.bg-container {
    background-color: orange;
    padding: 18px;
    font-family: Roboto;
}

.mainHeading {
    color: white;
    text-align: center;
    margin-bottom: 18px;
}

.questionHeading {
    font-family: Beer Serif;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.questionsForm {
    padding: 18px;
    background-color: white;
    border-radius: 13px;
}

p {
    color: red;
}