@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #86d2f2;
    height: 100vh;
}

h1 {
    font-weight: bold;
}

button {
    border-radius: 10px;
    color: white;
    background-color: #1f1d41;
    border-width: 0px;
    padding: 10px;
    width: 65px;
}

.color-divs {
    background-color: #4b5069;
    padding: 25px;
    border-radius: 50%;
    width: 45px;
    margin-bottom: 18px;
}

.trafficlights-board {
    background-color: #1f1d41;
    border-radius: 25px;
    height: 295px;
    width: 85px;
    padding-left: 18px;
}